## .NET
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.cache
*.vs/
.vs/
*.DotSettings.user

## NuGet
*.nupkg
**/[Pp]ackages/*

## Angular / Node
node_modules/
dist/
.angular/
*.tsbuildinfo
.env

## IDE
.idea/
*.swp
*~

## Docker
docker/volumes/

## OS
.DS_Store
Thumbs.db
